<div class="row">
  <div class="col search">
    <input
      (keyup)="filter($event)"
      #input
      class="input"
      placeholder="Busca tu pokemon..."
    />
    <button (click)="resetFilter()" class="btn btn-primary">
      Resetear filtro
    </button>
  </div>
</div>

<div class="row" *ngIf="onePokemon == null">
  <div
    *ngFor="let pokemonn of allPokemon; let i = index"
    class="col-12 col-md-3 col-xl-2"
  >
    <div class="card">
      <img
        src="https://raw.githubusercontent.com/pokeapi/sprites/master/sprites/pokemon/{{
          i + 1
        }}.png"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">{{ pokemonn.name | titlecase }}</h5>
        <a href="{{ pokemonn.url }}" class="btn btn-primary">¡Te elijo a ti!</a>
        <!-- <a [routerLink]="['/info', i]" class="btn btn-primary"
          >¡Te elijo a ti!</a
        > -->
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="onePokemon">
  <div class="col-12 col-md-3 col-xl-2">
    <div class="card">
      <img
        src="https://raw.githubusercontent.com/pokeapi/sprites/master/sprites/pokemon/{{
          position + 1
        }}.png"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">{{ onePokemon.name | titlecase }}</h5>
        <a href="{{ onePokemon.url }}" class="btn btn-primary"
          >¡Te elijo a ti!</a
        >
        <!-- <a [routerLink]="['/info', i]" class="btn btn-primary"
          >¡Te elijo a ti!</a
        > -->
      </div>
    </div>
  </div>
</div>
