<div class="row">
  <div
    *ngFor="let pokemon of allPokemon; let i = index"
    class="col-md-2 col-sm-6"
  >
    <div class="card">
      <img
        src="https://raw.githubusercontent.com/pokeapi/sprites/master/sprites/pokemon/{{
          i + 1
        }}.png"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">{{ pokemon.name }}</h5>
        <a href="{{ pokemon.url }}" class="btn btn-primary">Te elijo a ti!</a>
      </div>
    </div>
  </div>
</div>
