<div class="row">
  <div class="col-12 search">
    <input
      (keyup)="filter()"
      #input
      class="input"
      placeholder="Busca tu pokemon..."
      autocomplete="on"
    />
    <button (click)="resetFilter()" class="btn btn-primary">
      Resetear filtro
    </button>
  </div>
</div>

<!-- Bloque para todos los pokemon -->
<div class="row" *ngIf="!isFilter">
  <div
    *ngFor="let pokemon of allPokemon; let i = index"
    class="col-12 col-md-3 col-xl-2"
  >
    <div class="card">
      <img
        src="https://raw.githubusercontent.com/pokeapi/sprites/master/sprites/pokemon/{{
          i + 1
        }}.png"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h3 class="card-title">{{ pokemon.name | titlecase }}</h3>
        <a href="/detail/{{ pokemon.name }}" class="btn btn-primary"
          >¡Te elijo a ti!</a
        >
      </div>
    </div>
  </div>
</div>

<!-- Bloque para filtro pokemon -->
<div class="row" *ngIf="filterPokemon">
  <div
    *ngFor="let pokemon of filterPokemon"
    class="col onePokemon col-12 col-md-3 col-xl-2"
  >
    <div class="card">
      <img
        src="https://raw.githubusercontent.com/pokeapi/sprites/master/sprites/pokemon/{{
          pokemon.url.split('pokemon/')[1].split('/')[0]
        }}.png"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h3 class="card-title">{{ pokemon.name | titlecase }}</h3>
        <a href="/detail/{{ pokemon.name }}" class="btn btn-primary"
          >¡Te elijo a ti!</a
        >
      </div>
    </div>
  </div>
</div>
