.header {
    height: 15vw;
    width: 100%; 
    background-image: url(./img/International_Pokémon_logo.svg.png);
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: contain;
}

.padre {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2))),url('./img/pokemon-list_0_0.jpg_976912859.jpg');
    min-height: 100vh;
}


.pokemon {
    margin: 0 8vw;
}


@media (max-width: 450px) {
    .header {
        height: 30vw;
    }



}